.overflow {
    height: 200px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

label, input { display:block; margin: 0px 0 0 0; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
